#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        minus_qmark: minus_qmark {
            compatible = "zmk,behavior-mod-morph";
            label = "MINUS_QMARK";
            bindings = <&kp MINUS>, <&kp QMARK>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };
    };

    macros {
        repeat: repeat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_4 &kp NUMBER_2 &kp NUMBER_4 &kp NUMBER_2 &kp NUMBER_4>;
            label = "REPEAT";
        };

        snip: snip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHFT &kp LEFT_GUI &kp S>;
            label = "SNIP";
        };

        lock: lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp L>;
            label = "LOCK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own

        Base {
            bindings = <
&kp W  &kp L  &kp Y           &kp P            &kp B        &kp Z      &kp F        &kp O                 &kp U      &kp SQT
&kp C  &kp R  &kp S           &kp T            &kp G        &kp M      &kp N        &kp E                 &kp I      &kp A
&kp Q  &kp J  &kp V           &kp D            &kp K        &kp X      &kp H        &minus_qmark          &kp COMMA  &kp PERIOD
              &kp LEFT_SHIFT  &lt 1 BACKSPACE  &lt 3 ENTER  &lt 3 TAB  &lt 2 SPACE  &mt LCTRL UNDERSCORE
            >;
        };

        Nav {
            bindings = <
&trans     &trans        &kp K_BACK      &kp K_FORWARD  &trans  &kp PG_UP  &kp HOME       &kp UP          &kp END    &kp LA(LC(UP))
&kp LGUI   &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL      &trans  &kp PG_DN  &kp LEFT       &kp DOWN_ARROW  &kp RIGHT  &kp LA(LC(DOWN))
&kp LC(Z)  &kp LC(X)     &kp LC(C)       &kp LC(V)      &trans  &trans     &trans         &trans          &trans     &trans
                         &trans          &trans         &trans  &trans     &kp LC(SPACE)  &trans
            >;
        };

        Sym {
            bindings = <
&kp TILDE      &kp AT     &kp HASH      &kp DOLLAR  &kp PERCENT    &trans  &kp LBKT  &kp RBKT  &trans    &kp GRAVE
&kp EXCL       &kp PLUS   &kp MINUS     &kp EQUAL   &kp AMPERSAND  &trans  &kp LPAR  &kp RPAR  &kp LT    &kp GT
&kp BACKSLASH  &kp SLASH  &kp ASTERISK  &kp CARET   &kp PIPE       &trans  &kp LBRC  &kp RBRC  &kp SEMI  &kp COLON
                          &trans        &kp DEL     &kp LS(ENTER)  &trans  &trans    &trans
            >;
        };

        Misc {
            bindings = <
&trans  &trans  &trans  &kp LS(Z)  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LS(Y)  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans     &trans  &trans  &trans  &trans
            >;
        };
    };
};
